:root {
    --swiper-theme-color: #fff;
    --swiper-navigation-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
    opacity: 0.8;
  }

.swiper-button-next:after {
    content: '>';
    font-size: 20px;
    color: var(--swiper-theme-color);

}

body {
    /* display: flex;
    flex-direction: column; */
    background-color: #000000;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    /* min-height: 100vh;
    margin: 0; */
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
    line-height: 0;
}

p {
    margin: 0;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

/*------------------------------------------------
    SUNNY SKY 
------------------------------------------------*/

.sky-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 100px;
}

.sky {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.sky__section-one {
    background: linear-gradient(to bottom, white, #56d0e3);
}

.sky__section-two {
    background: linear-gradient(to bottom, #56d0e3, #5687e3);
}

.sky__section-three {
    background: linear-gradient(to bottom, #5687e3, #7756e3);
}

.sky__section-four {
    background: linear-gradient(to bottom, #7756e3, #722a56);
}

.sky__section-five {
    background: linear-gradient(to bottom, #722a56, #040001);
}



.sun {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle,
            #fde06b 5%,
            #ffcc00 10%,
            #ffcc0091 20%,
            transparent,
            transparent);
    z-index: 1;
}

.cloud {
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 3000;
}

.cloud div {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6);
}

.puff-one {
    top: 20%;
    left: 40%;
}

.puff-two {
    top: 22%;
    left: 42%;
}

.puff-three {
    top: 20%;
    left: 45%;
}

.puff-four {
    top: 18%;
    left: 47%;
}

.puff-five {
    top: 40%;
    left: 20%;
}

.puff-six {
    top: 40%;
    left: 40%;
}

/*------------------------------------------------
    SPACE
------------------------------------------------*/

.space {
    position: relative;
    bottom: 50vh;
    left: 0;
    width: 100vw;
    /* background: linear-gradient(to bottom, #ffd632, #6a5812 , #000 8% ); */
    /* clip-path: ellipse(250% 100% at 50% 100%); */
    height: 500vh;
    z-index: 1000;
}

.planet-top {
    height: 125vh;
    height: 20%;
    width: 100vw;
    background: linear-gradient(to bottom, #ffd632, #6a5812, #000 8%, #000 88%, rgba(255, 255, 255, 0.339));
    background: linear-gradient(to bottom, #ffd632, #6a5812, #000 8%);
    clip-path: ellipse(150% 100% at 50% 100%);
}

.planet-bottom {
    height: 125vh;
    height: 50%;
    height: 20%;
    width: 100vw;
    background: linear-gradient(to bottom, #ffd632, #6a5812, #000 8%, #000 88%, rgba(255, 255, 255, 0.339));
    background: linear-gradient(to bottom, #000, #000, rgba(255, 255, 255, 0.339) 100%);
    clip-path: ellipse(150% 100% at 50% 0%);
}

.space-sky {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450vh;
    background: linear-gradient(to bottom, #000 10%, rgba(51, 58, 255, 0.3), rgba(255, 65, 188, 0.375), rgba(51, 102, 255, 0.3), rgba(105, 2, 152, 0.3) 50%, #000 60%, #000 80%);
}

.black-cloud {
    position: absolute;
    top: 70%;
    left: 20px;
    width: 50vw;
    height: 50vh;
    background: radial-gradient(circle,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.6) 20%,
            rgba(0, 0, 0, 0.3) 40%,
            transparent 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.bc-one {
    top: 57%;
    left: 15%;
}

.bc-two {
    top: 59%;
    left: 26%;
}

.bc-three {
    top: 59%;
    left: 37%;
}

.bc-four {
    top: 61%;
    left: 48%;
}

.bc-five {
    top: 63%;
    left: 59%;
}

.bc-six {
    top: 65%;
    left: 70%;
}

.bc-seven {
    top: 69%;
    left: -35%;
}

.bc-eight {
    top: 71%;
    left: -24%;
}

.bc-nine {
    top: 73%;
    left: -20%;
}

.bc-ten {
    top: 77%;
    left: -18%;
}

.bc-eleven {
    top: 80%;
    left: -25%;
}

.bc-twelve {
    top: 84%;
    left: -35%;
}

.white-wisp {
    position: absolute;
    top: 72%;
    left: 15%;
    width: 100vw;
    height: 50vh;
    background: linear-gradient(to bottom,
            transparent,
            rgba(255, 255, 255, 0.1) 20%,
            rgba(255, 255, 255, 0.2) 35%,
            rgba(255, 255, 255, 0.4)50%,
            rgba(255, 255, 255, 0.2) 65%,
            rgba(255, 255, 255, 0.1) 80%,
            transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4) 2%, rgba(0, 0, 0, 0.9) 6%, black 8%, black 92%, rgba(0, 0, 0, 0.9) 94%, rgba(0, 0, 0, 0.4) 98%, transparent);
    mask-image: linear-gradient(to right, transparent, black 35%, black 65%, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.white-wisp--top {
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    height: 30vh;
    background: linear-gradient(to bottom,
            transparent,
            rgba(255, 255, 255, 0.1) 10%,
            rgba(255, 255, 255, 0.3) 30%,
            rgba(255, 255, 255, 0.4)50%,
            rgba(255, 255, 255, 0.3) 70%,
            rgba(255, 255, 255, 0.1) 90%,

            transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4) 2%, rgba(0, 0, 0, 0.9) 6%, black 8%, black 92%, rgba(0, 0, 0, 0.9) 94%, rgba(0, 0, 0, 0.4) 98%, transparent);
    mask-image: linear-gradient(to right, transparent, black 25%, black 55%, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.cloud-one__container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.white-wisp--middle {
    position: absolute;
    top: 16vh;
    left: 25vw;
    width: 60vw;
    height: 10vh;
    background: linear-gradient(to bottom,
            transparent,
            rgba(255, 255, 255, 0.1) 10%,
            rgba(255, 255, 255, 0.3) 30%,
            rgba(255, 255, 255, 0.4)50%,
            rgba(255, 255, 255, 0.3) 70%,
            rgba(255, 255, 255, 0.1) 90%,

            transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4) 2%, rgba(0, 0, 0, 0.9) 6%, black 8%, black 92%, rgba(0, 0, 0, 0.9) 94%, rgba(0, 0, 0, 0.4) 98%, transparent);
    mask-image: linear-gradient(to right, transparent, black 25%, black 55%, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.white-wisp--bottom {
    position: absolute;
    top: 8vh;
    left: -21vw;
    width: 50vw;
    height: 12vh;
    background: linear-gradient(to bottom,
            transparent,
            rgba(255, 255, 255, 0.1) 10%,
            rgba(255, 255, 255, 0.3) 30%,
            rgba(255, 255, 255, 0.4)50%,
            rgba(255, 255, 255, 0.3) 70%,
            rgba(255, 255, 255, 0.1) 90%,

            transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4) 2%, rgba(0, 0, 0, 0.9) 6%, black 8%, black 92%, rgba(0, 0, 0, 0.9) 94%, rgba(0, 0, 0, 0.4) 98%, transparent);
    mask-image: linear-gradient(to right, transparent, black 25%, black 55%, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}



.green-wisp {
    position: absolute;
    top: 83%;
    left: -5%;
    width: 100vw;
    height: 60vh;
    background: linear-gradient(to bottom,
            transparent,
            rgba(0, 255, 0, 0.1) 20%,
            rgba(0, 255, 0, 0.2) 35%,
            rgba(0, 255, 0, 0.3)50%,
            rgba(0, 255, 0, 0.2) 65%,
            rgba(0, 255, 0, 0.1) 80%,
            transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4) 2%, rgba(0, 0, 0, 0.9) 6%, black 8%, black 92%, rgba(0, 0, 0, 0.9) 94%, rgba(0, 0, 0, 0.4) 98%, transparent);
    mask-image: linear-gradient(to right, transparent, black 35%, black 65%, transparent);
    z-index: 2000;
}

.star {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    z-index: 2000;
}

.star-one {
    width: 1px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}

.star-two {
    width: 1px;
    height: 1px;
}

.star-three {
    width: 1px;
    height: 1px;
    background-color: white;
}

.star-four {
    width: 1px;
    height: 1px;
    box-shadow: 0 0 5px 1px white;
}

.star-five {
    width: 2px;
    height: 2px;
    box-shadow: 0 0 5px 1px white;
}

/*----------------------------------------------
    Story
----------------------------------------------*/

.story {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 60vw;
    max-width: 500px;
    min-width: 200px;
    padding: 40px;
    gap: 20px;
    border-radius: 30px 0 0 30px;
    height: fit-content;
    z-index: 10000;
    background: linear-gradient(to right, #fff, #fff, transparent);

    box-sizing: border-box;
    text-wrap: balance;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #555;
    text-transform: uppercase;
    border: 1px solid #777;
    cursor: pointer;
    color: #333;
    background: radial-gradient(circle, #c9c9ac 0%, #f5f5e4 100%);
    background: linear-gradient(to bottom, #fff, #d3d3d3);
    height: 70px;
    width: 70px;
    font-size: 2rem;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    box-shadow:
        inset 0px 0px 0px 1px #fff,
        inset 1px 1px 0px transparent,
        0px 3px 1px #00000070;
}

.btn:not(.disabled-btn):hover {
    color: #222;
    background: radial-gradient(circle, black 0%, rgb(43, 42, 42) 100%);
    background: radial-gradient(circle, #babaa3 0%, #e6e6c8 100%);
    background: linear-gradient(to bottom, #f9f9f9, #bdbdbd);
}

.btn:not(.disabled-btn):active {
    /* transform: scale(.98); */
    font-size: 1.9rem;
    color: #111;
    background: radial-gradient(circle, black 0%, rgb(43, 42, 42) 100%);
    background: radial-gradient(circle, #92927b 0%, #d4d4b5 100%);
    background: linear-gradient(to bottom, #f1f1f1, #a3a3a3);
    box-shadow:
        inset 0 0 4px #e2e2c4,
        inset 1px 1px 1px transparent,
        inset -1px -1px 1px transparent,
        2px 2px 4px transparent;
}

.disabled-btn {
    transform: scale(.98);
    color: rgb(119, 117, 117);
    background: radial-gradient(circle, black 0%, rgb(43, 42, 42) 100%);
    box-shadow:
        inset 0 0 4px rgb(50, 49, 49),
        inset 1px 1px 1px transparent,
        inset -1px -1px 1px transparent,
        2px 2px 4px transparent;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.story__part-one--btn {
    width: 11vw;
    height: 11vw;
    min-width: 70px;
    min-height: 70px;
    color: #444;
    font-size: 1rem;
    background: transparent;
    position: relative;
    z-index: 10000;
    box-shadow:
        inset 0px 0px 0px 1px transparent,
        inset 1px 1px 0px transparent,
        0px 3px 1px #00000070;
    animation: fadeIn 7s ease-out;
}

.btn.story__part-one--btn:hover {
    color: #444;
    background: #0000000a;
    box-shadow:
        inset 0px 0px 0px 1px transparent,
        inset 1px 1px 0px transparent,
        0px 3px 1px #00000070;
}

.btn.story__part-one--btn:active {
    font-size: .95rem;
    color: #444;
    background: #00000010;
    box-shadow:
        inset 0px 0px 0px 1px transparent,
        inset 1px 1px 0px transparent,
        0px 0px 1px #00000070;
}

.story__part-four {
    position: relative;
    top: 0;
    left: 0;
}

/*----------------------------------------------
        FOOTER
    ----------------------------------------------*/

footer {
    display: none;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 125vw;
    background: linear-gradient(to right, #111, #333, #111);
    color: #fff;
    z-index: 99999;
    position: absolute;
    bottom: -25%;
    padding: 40px;
    box-sizing: border-box;
    font-size: 50px;
    font-family: monospace;
    text-shadow:
        0 0 5px #ff0000,
        0 0 10px #ff0000,
        0 0 20px #ff0000,
        0 0 40px #ff0000,
        0 0 80px #3f0f0f,
        0 0 90px #ff0000,
        0 0 100px #ff0000,
        0 0 150px #ff0000;
    ;
    left: 50%;
    transform: translateX(-50%);
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;

}

.footer__border-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to bottom,
            #ff0000,
            #ffffff,
            #ff0000,
            transparent);
}

.footer__border-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to bottom,
            transparent,
            #ff0000,
            #ffffff,
            #ff0000);
}

.footer__border-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background: linear-gradient(to right,
            #ff0000,
            #ffffff,
            #ff0000,
            transparent);
}

.footer__border-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 99%;
    width: 5px;
    background: linear-gradient(to right,
            transparent,
            #ff0000,
            #ffffff,
            #ff0000);
}

/*----------------------------------------------
        SWIPER
    ----------------------------------------------*/

.swiper .mySwiper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: transparent;
    gap: 20px;
}

.project-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    /* background: radial-gradient(circle, #444 0%, #000000 100%); */
    /* -webkit-mask-image: linear-gradient(to bottom, transparent, black, black, black, black, black, black, black, black, transparent);
    mask-image: linear-gradient(to bottom, transparent, black, black, black, black, black, black, black, black 97%, transparent); */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background: transparent;
    height: fit-content;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 0 0 0;
    height: fit-content;
    border: 10px solid #222;
    border-radius: 5px;
    box-sizing: border-box;
}

.projects__screen-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.screen-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    background: #000;
    background: linear-gradient(to bottom, #111, #222);
    box-sizing: border-box;

}

.screen-on {
    background: linear-gradient(to right, #000, #222, #000); 
}

.screen-off {
    background: #000; 
}

.projects__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.meeboard { 
    background: linear-gradient(to bottom, #ffffff, #dea6ae);
}

.meeboard-link { color: #ffc0c9; }

.genderstanding {
    background: linear-gradient(
          to bottom,
          #56d0e3,
          #dd7b65
          );
}

.genderstanding-link { color: #d78978; }

.nhf {
    background: linear-gradient(
          to bottom,
          #cdd7de,
          #334b5cb3,
          #334b5cf5
          );
}

.nhf-link { color: #6f92ad; }

.meyouzik {
    background: linear-gradient(
          to bottom,
          #111,
          #fff,
            #111
          );
}

.meyouzik-link { color: #bbb; }

.swiper-slide img {
    /* display: block; */
    width: 70%;

}

.project-info {
    width: 35vw;
    color: #fff;
    height: fit-content;
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
}

.project-title {
    text-wrap: balance;
}

.project-description {
    text-wrap: balance;
}

.remote-container {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.remote-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: fit-content;
    background: linear-gradient(to right, #333, #111, #333);
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
}

.direction-buttons__container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 10px solid #000;
    overflow: hidden;
}

.direction-button {
    height: 30px;
    width: 60px;
    height: 40px;
    width: 100px;
    background: linear-gradient(to right, #5a95a2, #555);
    color: black;
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0% 100%); /* Trapezium shape */
    clip-path: polygon(40% 0, 60% 0, 100% 100%, 0% 100%);
    position: absolute;
    font-size: xx-large;
}


.power-on__direction-button {
    background: linear-gradient(to right, #8de9fd, #fff);
    cursor: pointer;
}

.direction-button__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 99%;
    width: 99%;
    clip-path: polygon(40% 0, 60% 0, 100% 100%, 0% 100%);
    background: linear-gradient(to right, #888, transparent);
}

.direction-button__inner:active {
    background: linear-gradient(to right, #88888890, transparent);
}

.direction-button--up {
    top: -2%;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

.direction-button--left {
    top: 50%;
    left: -27%;
    transform: translateY(-50%) rotate(90deg);
}

.direction-button--right {
    top: 50%;
    right: -27%;
    transform: translateY(-50%) rotate(-90deg);
}

.direction-button--down {
    bottom: -2%;
    left: 50%;
    transform: translateX(-50%);
}

.power-button__border {
    height: 60px;
    width: 60px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.power-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background: linear-gradient(to right, #aaecfb66, #fafafa66);
    background: linear-gradient(to right, #888, transparent);

    border: 1px solid #5a95a28e;
    color: #a90000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: x-large;

}

.power-button__back-light {
   
    height: 30px;
    width: 30px;
    background: linear-gradient(to right, #aaecfb66, #fafafa66);
    background: linear-gradient(to right, #5a95a2, #555);

    border: 1px solid #5a95a28e;
    color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.power-on__power-button {
    background: linear-gradient(to right, #c9f6ff7d, #ffffffb0);
    background: linear-gradient(to right, #8de9fd, #fff);

    border: 1px solid #eee;
}

.click-light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: red;
    background-image: radial-gradient(#ffffff, transparent);
    background-size: 5px 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 1px #555;
    box-shadow:
        0 0 3px #111 inset,
        0 0 10px red;
}