body {
    background-color: #000000;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;

}

h1, h2, h3, h4 {
    font-weight: 400;
    line-height: 0;
}

p {
    margin: 0;
}

.sky-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sky {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.sky__section-one {
    background: linear-gradient(to bottom, white, #56d0e3);
}

.sky__section-two {
    background: linear-gradient(to bottom, #56d0e3, #5687e3);
}

.sky__section-three {
    background: linear-gradient(to bottom, #5687e3, #7756e3);
}

.sky__section-four {
    background: linear-gradient(to bottom, #7756e3, #722a56);
}

.sky__section-five {
    background: linear-gradient(to bottom, #722a56, #040001);
}



.sun {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle,
            #fde06b 5%,
            #ffcc00 10%,
            #ffcc0091 20%,
            transparent,
            transparent);
    z-index: 1;
}

.cloud {
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 3000;
}

.cloud div {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6);
}

.puff-one {
    top: 20%;
    left: 40%;
}

.puff-two {
    top: 22%;
    left: 42%;
}

.puff-three {
    top: 20%;
    left: 45%;
}

.puff-four {
    top: 18%;
    left: 47%;
}

.puff-five {
    top: 40%;
    left: 20%;
}

.puff-six {
    top: 40%;
    left: 40%;
}

.bird {
    position: relative;
    z-index: 2000;
    transform: scale(0.3);
    opacity: 0.5;
}

.bird-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 175px;
    height: 30px;
    border-radius: 60% 20% 30% 60%;
    background-color: black;

}

.bird-head {
    position: absolute;
    top: 5px;
    left: 170px;
    width: 40px;
    height: 20px;
    border-radius: 0 50% 10px 0;
    background-color: black;
    /* transform: translate(-50%, -50%); */
}

.bird-beak {
    position: absolute;
    top: 17px;
    left: 202px;
    width: 20px;
    height: 8px;
    background-color: black;
    border-radius: 0 80% 0 0;
    /* transform: rotate(45deg); */
}

.bird-tail {
    position: absolute;
    top: 0;
    left: -30px;
    /* width: 28px;
    height: 48px;
    background-color: black; */
    /* border-radius: 0 100% 100% 0; */
    /* clip-path: polygon(50% 0%, 100% 100%, 0% 100%); */
}

.bird-tail__feather {
    position: inherit;
    width: 50px;
    height: 5px;
    left: 0;
    border-radius: 80%;
    background-color: black;
}

.feather-one {
    top: 0px;
    left: 0;
    transform: rotate(20deg);
}

.feather-two {
    top: 3px;
    left: 0;
    transform: rotate(15deg);
}

.feather-three {
    top: 6px;
    left: 0;
    transform: rotate(10deg);
}

.feather-four {
    top: 9px;
    left: 0;
    transform: rotate(5deg);

}

.feather-five {
    top: 12px;
    left: 0;
}

.feather-six {
    top: 15px;
    left: 0;
    transform: rotate(-5deg);
}

.feather-seven {
    top: 18px;
    left: 0;
    transform: rotate(-10deg);

}

.feather-eight {
    top: 21px;
    left: 0;
    transform: rotate(-15deg);
}

.feather-nine {
    top: 24px;
    left: 0;
    transform: rotate(-20deg);
}

.bird-wing {
    position: inherit;
    top: 25px;
    left: 23px;
    transform: rotate(-10deg);
}

.bird-wing__bicep {
    position: absolute;
    top: -15px;
    left: 86px;
    width: 60px;
    height: 30px;
    border-radius: 0 5px 0 0;
    background-color: black;

}

.bird-wing__forearm {
    position: absolute;
    top: -152px;
    left: 44px;
    width: 80px;
    height: 160px;
    background-color: black;
    /* border-radius: 50% 0 0 50%; */
    /* clip-path: polygon(100% 100%, 100% 0%, 0% 0%); */
    clip-path: polygon(115% 100%, 30% 85%, 0% 25%);
    transform: rotate(-18deg);
}

.space {
    position: relative;
    bottom: 50vh;
    left: 0;
    width: 100vw;
    /* background: linear-gradient(to bottom, #ffd632, #6a5812 , #000 8% ); */
    /* clip-path: ellipse(250% 100% at 50% 100%); */
    height: 500vh;
    z-index: 1000;
}

.planet-top {
    height: 125vh;
    height: 25%;
    width: 100vw;
    background: linear-gradient(to bottom, #ffd632, #6a5812, #000 8%, #000 88%, rgba(255, 255, 255, 0.339));
    background: linear-gradient(to bottom, #ffd632, #6a5812 , #000 8% );
    clip-path: ellipse(150% 100% at 50% 100%);
}

.planet-bottom {
    height: 125vh;
    height: 50%;
    height: 25%;
    width: 100vw;
    background: linear-gradient(to bottom, #ffd632, #6a5812, #000 8%, #000 88%, rgba(255, 255, 255, 0.339));
    background: linear-gradient(to bottom, #000, #000 , rgba(255, 255, 255, 0.339) 100% );
    clip-path: ellipse(150% 100% at 50% 0%);
}

.space-sky {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450vh;
    background: linear-gradient(to bottom, #000 10%, rgba(51, 58, 255, 0.3), rgba(255, 65, 188, 0.375), rgba(51, 102, 255, 0.3), rgba(105, 2, 152, 0.3) 50%, #000 60%, #000 80%);
}

.black-cloud {
    position: absolute;
    top: 70%;
    left: 20px;
    width: 50vw;
    height: 50vh;
    background: radial-gradient(circle,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.6) 20%,
            rgba(0, 0, 0, 0.3) 40%,
            transparent 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.bc-one {
    top: 57%;
    left: 15%;
}

.bc-two {
    top: 59%;
    left: 26%;
}

.bc-three {
    top: 59%;
    left: 37%;
}

.bc-four {
    top: 61%;
    left: 48%;
}

.bc-five {
    top: 63%;
    left: 59%;
}

.bc-six {
    top: 65%;
    left: 70%;
}

.bc-seven {
    top: 69%;
    left: -35%;
}

.bc-eight {
    top: 71%;
    left: -24%;
}

.bc-nine {
    top: 73%;
    left: -20%;
}

.bc-ten {
    top: 77%;
    left: -18%;
}

.bc-eleven {
    top: 80%;
    left: -25%;
}

.bc-twelve {
    top: 84%;
    left: -35%;
}

.white-wisp {
    position: absolute;
    top: 72%;
    left: 15%;
    width: 100vw;
    height: 50vh;
    background: linear-gradient(to bottom,
            transparent,
            rgba(255, 255, 255, 0.1) 20%,
            rgba(255, 255, 255, 0.2) 35%,
            rgba(255, 255, 255, 0.4)50%,
            rgba(255, 255, 255, 0.2) 65%,
            rgba(255, 255, 255, 0.1) 80%,
            transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4) 2%, rgba(0, 0, 0, 0.9) 6%, black 8%, black 92%, rgba(0, 0, 0, 0.9) 94%, rgba(0, 0, 0, 0.4) 98%, transparent);
    mask-image: linear-gradient(to right, transparent, black 35%, black 65%, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.white-wisp--top {
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    height: 30vh;
    background: linear-gradient(to bottom,
            transparent,
            rgba(255, 255, 255, 0.1) 10%,
            rgba(255, 255, 255, 0.3) 30%,
            rgba(255, 255, 255, 0.4)50%,
            rgba(255, 255, 255, 0.3) 70%,
            rgba(255, 255, 255, 0.1) 90%,

            transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4) 2%, rgba(0, 0, 0, 0.9) 6%, black 8%, black 92%, rgba(0, 0, 0, 0.9) 94%, rgba(0, 0, 0, 0.4) 98%, transparent);
    mask-image: linear-gradient(to right, transparent, black 25%, black 55%, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.cloud-one__container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.white-wisp--middle {
    position: absolute;
    top: 16vh;
    left: 25vw;
    width: 60vw;
    height: 10vh;
    background: linear-gradient(to bottom,
            transparent,
            rgba(255, 255, 255, 0.1) 10%,
            rgba(255, 255, 255, 0.3) 30%,
            rgba(255, 255, 255, 0.4)50%,
            rgba(255, 255, 255, 0.3) 70%,
            rgba(255, 255, 255, 0.1) 90%,

            transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4) 2%, rgba(0, 0, 0, 0.9) 6%, black 8%, black 92%, rgba(0, 0, 0, 0.9) 94%, rgba(0, 0, 0, 0.4) 98%, transparent);
    mask-image: linear-gradient(to right, transparent, black 25%, black 55%, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.white-wisp--bottom {
    position: absolute;
    top: 8vh;
    left: -21vw;
    width: 50vw;
    height: 12vh;
    background: linear-gradient(to bottom,
            transparent,
            rgba(255, 255, 255, 0.1) 10%,
            rgba(255, 255, 255, 0.3) 30%,
            rgba(255, 255, 255, 0.4)50%,
            rgba(255, 255, 255, 0.3) 70%,
            rgba(255, 255, 255, 0.1) 90%,

            transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4) 2%, rgba(0, 0, 0, 0.9) 6%, black 8%, black 92%, rgba(0, 0, 0, 0.9) 94%, rgba(0, 0, 0, 0.4) 98%, transparent);
    mask-image: linear-gradient(to right, transparent, black 25%, black 55%, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}



.green-wisp {
    position: absolute;
    top: 83%;
    left: -5%;
    width: 100vw;
    height: 60vh;
    background: linear-gradient(to bottom,
            transparent,
            rgba(0, 255, 0, 0.1) 20%,
            rgba(0, 255, 0, 0.2) 35%,
            rgba(0, 255, 0, 0.3)50%,
            rgba(0, 255, 0, 0.2) 65%,
            rgba(0, 255, 0, 0.1) 80%,
            transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4) 2%, rgba(0, 0, 0, 0.9) 6%, black 8%, black 92%, rgba(0, 0, 0, 0.9) 94%, rgba(0, 0, 0, 0.4) 98%, transparent);
    mask-image: linear-gradient(to right, transparent, black 35%, black 65%, transparent);
    z-index: 2000;
}

.star {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    z-index: 2000;
}

.star-one {
    width: 1px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}

.star-two {
    width: 1px;
    height: 1px;
}

.star-three {
    width: 1px;
    height: 1px;
    background-color: white;
}

.star-four {
    width: 1px;
    height: 1px;
    box-shadow: 0 0 5px 1px white;
}

.star-five {
    width: 2px;
    height: 2px;
    box-shadow: 0 0 5px 1px white;
}

.space-ship {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    max-width: 100vw;
    max-height: 100vh;
    /* overflow: hidden; */
    /* width: 100vw; */
    height: 700px;
    position: relative;
    position: absolute;
    top: 80%;
    top: 120%;
    z-index: 5000;
    transform: scale(0.8);
    transition: transform 10s ease;
}

.hidden-ship {
    opacity: 0;
}

.fire-glow {
    position: absolute;
    top: -100px;
    left: -120px;
    width: 500px;
    height: 500px;
    background: radial-gradient(circle,
            #fff2007c 20%,
            #ffae008c 30%,
            transparent,
            transparent);
    z-index: -1;
}

.space-ship__base {
    position: absolute;
    bottom: -53px;
    left: 140px;
    width: 500px;
    height: 100px;
    background-color: white;
    box-shadow: inset 0 0 40px 30px #111;
    border-radius: 0 0 60px 60px;
}

.space-ship__bottom {
    position: absolute;
    bottom: 90px;
    width: 215px;
    height: 100px;
    background-color: white;
    box-shadow: inset 0 0 40px 30px #111;
    border-radius: 0 0 60px 60px;
}

.engine-container {
    position: absolute;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-ship__left-engine {
    position: relative;
    bottom: -15px;
    left: 40px;
    min-width: 260px;
    height: 260px;
    background-color: white;
    background: linear-gradient(45deg,
            #000 0%,
            #222 20%,
            white 40%,
            #111 83%,
            #000 100%);
    border-radius: 50% 50% 30px 50%;
}

.space-ship__left-engine--fan-bg {
    position: absolute;
    left: 73px;
    top: 70px;
    width: 160px;
    height: 190px;
    background-color: #888;
    background: linear-gradient(45deg,
            #222 0%,
            #555 20%,
            #AAA 40%,
            #555 80%,
            #444 100%);
    border-radius: 160px 20px 30px 90px;
    box-shadow: 20px 40px 10px -20px #222;
}

.space-ship__left-engine--fan {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 140px;
    height: 180px;
    background-color: #111;
    background: radial-gradient(circle,
            #333 0%,
            #222 20%,
            #000 30%,
            #444 100%);
    border-radius: 160px 20px 30px 90px;
    /* box-shadow: 20px 40px 10px -20px #222; */
}

.middle-engine__container {
    position: relative;
    top: -140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-ship__middle-engine--left {
    position: relative;
    width: 130px;
    height: 160px;
    background-color: white;
    background: linear-gradient(to bottom,
            white 0%,
            #222 90%,
            #111 100%);
    background: linear-gradient(45deg,
            #000 0%,
            #222 20%,
            white 40%,
            #777 80%,
            #999 100%);
    border-radius: 120px 0 0 40px;
    /* clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);    box-shadow: inset 0 0 40px 30px #111; */
}

.space-ship__middle-engine--right {
    position: relative;
    width: 130px;
    height: 160px;
    background-color: white;
    background: linear-gradient(to bottom,
            white 0%,
            #222 90%,
            #111 100%);
    background: linear-gradient(-45deg,
            #000 0%,
            #222 20%,
            white 40%,
            #777 80%,
            #999 100%);
    border-radius: 0 120px 40px 0;
}

.space-ship__middle-engine--fan-bg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 130px;
    background-color: #111;
    background: linear-gradient(to bottom,
            #999,
            #444 100%);
    border-radius: 225px 225px 55px 55px;
    box-shadow: 0 75px 40px 0 #222;
    /* clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%); */
}

.space-ship__middle-engine--fan {
    width: 180px;
    height: 95%;
    width: 95%;
    background-color: #111;
    background: radial-gradient(circle,
            #333 0%,
            #222 20%,
            #000 30%,
            #444 100%);
    border-radius: 120px 120px 25px 25px;
    /* box-shadow: 20px 40px 10px -20px #222; */
    /* clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%); */
}

.space-ship__right-engine {
    position: relative;
    bottom: -15px;
    right: 40px;
    min-width: 260px;
    height: 260px;
    background-color: white;
    background: linear-gradient(-45deg,
            #000 0%,
            #222 20%,
            white 40%,
            #111 83%,
            #000 100%);
    border-radius: 50% 50% 50% 30px;
    /* box-shadow: inset 0 0 40px 30px #111; */
}

.space-ship__right-engine--fan-bg {
    position: absolute;
    right: 73px;
    top: 70px;
    width: 160px;
    height: 190px;
    background-color: #888;
    background: linear-gradient(-45deg,
            #222 0%,
            #555 20%,
            #AAA 40%,
            #555 80%,
            #444 100%);
    border-radius: 20px 160px 90px 30px;
    box-shadow: -20px 40px 10px -20px #222;
}

.space-ship__right-engine--fan {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 140px;
    height: 180px;
    background-color: #111;
    background: radial-gradient(circle,
            #333 0%,
            #222 20%,
            #000 30%,
            #444 100%);
    border-radius: 20px 160px 90px 30px;
    /* box-shadow: -20px 40px 10px -20px #222; */
}

.top-wing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: fit-content;
    margin: 0;
    padding: 0;
    top: -72px;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the item within the container */

}

.top-wing__top {
    height: 25px;
    width: 18px;
    background-color: #6a1812;
    background: linear-gradient(to right,
    #ffb57c,
    #9f251c,
    #6a1812,
    #9f251c,
    #ffb57c);
}

.top-wing__mid-one {
    height: 25px;
    width: 15px;
    background-color: #ccc;
    background: linear-gradient(to right,
    white,
    #aaa,
    #aaa,
    white
    );
}

.top-wing__mid-two {
    height: 28px;
    width: 18px;
    background-color: #ccc;
    background: linear-gradient(to right,
    white,
    #999,
    #999,
    white
    );
}

.top-wing__mid-three {
    height: 32px;
    width: 21px;
    background-color: #ccc;
    background: linear-gradient(to right,
    white,
    #888,
    #888,
    white
    );
}

.top-wing__base {
    height: 43px;
    width: 43px;
    background-color: #ccc;
    background: linear-gradient(to right,
    white,
    #888,
    #666,
    #888,
    white
    );
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.space-ship__body {
    position: absolute;
    bottom: 155px;
    width: 360px;
    height: 265px;
    /* background-color: rgb(220, 220, 220);
    box-shadow: inset 0 0 40px 30px #444; */
    background: linear-gradient(to right,

            #222 0%,
            #ccc 12%,
            white 23%,
            #000 54%,
            white 77%,
            #ccc 88%,
            #222 100%
        );
    border-radius: 300px 300px 90px 90px;
}

.space-ship__cock-pit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 450px;
}

.space-ship__cock-pit--background-one {
    position: absolute;
    top: 45px;
    height: 0;
    width: 130px;
    border-bottom: 75px solid #777;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
}

.space-ship__cock-pit--background-two {
    position: absolute;
    top: 5px;
    left: -22px;
    height: 0;
    width: 120px;
    border-bottom: 64px solid black;
    border-left: 27px solid transparent;
    border-right: 27px solid transparent;
}

.space-ship__cock-pit--seat-back {
    position: absolute;
    top: 34px;
    height: 80px;
    width: 110px;
    background-color: #333;
    background: repeating-linear-gradient(to right,
            #000 0px, #222 4px, #000 8px);
    border-radius: 30px 30px 0 0;
}

.me-torso {
    width: 192px;
    top: -78px;
    position: absolute;
}

.seat-rail__left {
    position: absolute;
    top: -18px;
    left: -35px;
    background-color: transparent;
    border: 5px solid #333;
    border-radius: 30%;
    width: 20px;
    height: 80px;
}

.seat-rail__right {
    position: absolute;
    top: -18px;
    right: -35px;
    background-color: transparent;
    border: 5px solid #333;
    border-radius: 30%;
    width: 20px;
    height: 80px;
}

.head-rest {
    position: absolute;
    top: 5px;
    height: 30px;
    width: 80px;
    background: linear-gradient(to right, #444, #222, #000, #222, #444);
    border-radius: 5px;
}

.windshield-back {
    position: absolute;
    top: -65px;
    width: 180px;
    height: 150px;
    background-color: #99999978;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    border-radius: 115px 115px 0 0;
}

.windshield {
    position: absolute;
    top: -50px;
    width: 250px;
    height: 200px;
    background-color: #99999978;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    border-radius: 115px 115px 0 0;
    /* border: 3px solid #777; */
    /* box-shadow: 0 0 0px 5px #777; */
}

.controls-front {
    position: absolute;
    bottom: 300px;
    width: 160px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-left {
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 80px;
    height: 15px;
    background-color: green;
    background: linear-gradient(65deg,
            white 0%,
            white 5%,
            #999 5%,
            white 28%,
            white 53%,
            #9f251c 53%,
            #6a1812 100%);
    
}

.front-right {
    position: absolute;
    bottom: 7px;
    right: 0;
    width: 80px;
    height: 15px;
    background-color: green;
    background: linear-gradient(-65deg,
            white 0%,
            white 5%,
            #999 5%,
            white 28%,
            white 53%,
            #9f251c 53%,
            #6a1812 100%);
}


.controls__container {
    position: relative;
    bottom: -16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-controls {
    width: 80px;
    height: 35px;
    background-color: green;
    background: linear-gradient(50deg,
            #777 0%,
            #999 5%,
            white 20%,
            white 40%,
            #9f251c 41%,
            #6a1812 100%);
    border-top-left-radius: 15px;
    border-top: 1px solid #777;

}

.right-controls {
    width: 80px;
    height: 35px;
    background-color: green;
    background: linear-gradient(-50deg,
            #777 0%,
            #999 5%,
            white 20%,
            white 40%,
            #9f251c 41%,
            #6a1812 100%);
    border-top-right-radius: 15px;
    border-top: 1px solid #777;
}

.hood-paint--left {
    position: absolute;
    bottom: 287px;
    left: 387px;
    width: 40px;
    height: 20px;
    background-color: #6a1812c7;
    background: linear-gradient(80deg,
    white 0%,
    white 17%,
    
    #9f251c 18%,
    #6a1812 
    );
}

.hood-paint--right {
    position: absolute;
    bottom: 287px;
    right: 387px;
    width: 40px;
    height: 20px;
    background-color: #6a1812c7;
    background: linear-gradient(-80deg,
    white 0%,
    white 17%,
    #9f251c 18%,
    #6a1812 
    
    );
}

.spaceship__nose-container {
    position: absolute;
    bottom: 129px;
    width: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaceship__nose-one {
    width: 50%;
    height: 190px;
    background-color: #999;
    background: linear-gradient(60deg,
            #000 0%,
            #222 20%,
            white 64%,
            #ddd
            /* #aaa 78%,
            #999 79%,
            #aaa 80%,
            white 83%,
            white 89%,
            #9f251c 90%,
            #6a1812 100% */
            );
    border-radius: 85px;
    border-radius: 75% 75% 50% 50%;
    border-radius: 115px 0 0 85px;
}

.spaceship__nose-two {
    width: 50%;
    height: 190px;
    background-color: #999;
    background: linear-gradient(-60deg,
            #000 0%,
            #222 20%,
            white 64%,
            #ddd
            /* #aaa 78%,
            #999 79%,
            #aaa 80%,
            white 83%,
            white 89%,
            #9f251c 90%,
            #6a1812 100% */
            );
    border-radius: 85px;
    border-radius: 75% 75% 50% 50%;
    border-radius: 0 115px 85px 0;
}

.front-vent__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 145px;
    height: 90px;
    width: 120px;
    background-color: #6a1812;
    background-color: green;
    background: linear-gradient(to bottom, #9f251c, #1d0605);
    border-radius: 60px 60px 20px 20px;
    box-shadow: 0px 25px 40px 15px #555555b2;
}

.front-vent__border {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 110px;
    background-color: #52120e;
    background: linear-gradient(to bottom, #6f1a13, #360c09);
    border-radius: 55px 55px 15px 15px;
}

.front-vent__vent {
    height: 60px;
    width: 90px;
    background-color: black;
    background: repeating-linear-gradient(to bottom,
            #000 0px,
            #444 5px);
    border-radius: 45px 45px 5px 5px;
    box-shadow: inset 0px 0px 10px 5px #000;
}

.left-wing-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-wing__connector {
    position: absolute;
    bottom: -126px;
    left: -313px;
    width: 40px;
    height: 40px;
    background-color: #999;
    background: linear-gradient(to bottom,
            transparent 0%,
            transparent 27%,
            #6c6c6c 28%,
            #6c6c6c 33%,
            #5d5d5d 34%,
            #5d5d5d 66%,
            #505050 67%);
    transform: skew(33deg);
}

.left-wing {
    position: absolute;
    bottom: -126px;
    left: -513px;
    width: 400px;
    height: 40px;
    background-color: #999;
    background: linear-gradient(to bottom,
            #fff 0%,
            #fff 33%,
            #ddd 34%,
            #ddd 66%,
            #bbb 67%);
    border-radius: 30% 26% 0 30%;
    transform: rotate(-33deg) translateX(-50%);
}

.left-wing__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to right,
            #00000028,
            #00000095);
    border-radius: 30% 26% 0 30%;
}

.left-wing__stripe-one {
    position: absolute;
    top: 0;
    left: 60px;
    height: 20px;
    width: 80px;
    transform: skew(-45deg, 0deg);
    background-color: #851a12d2;
}

.left-wing__stripe-two {
    position: absolute;
    top: 20px;
    left: 60px;
    height: 20px;
    width: 80px;
    transform: skew(45deg, 0deg);
    background-color: #6a1812d2;
}

.right-wing-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-wing__connector {
    position: absolute;
    bottom: -126px;
    right: -312px;
    width: 40px;
    height: 40px;
    background-color: #999;
    background: linear-gradient(to bottom,
            transparent 0%,
            transparent 27%,
            #6c6c6c 28%,
            #6c6c6c 33%,
            #5d5d5d 34%,
            #5d5d5d 66%,
            #505050 67%);
    transform: skew(-33deg);
}

.right-wing {
    position: absolute;
    bottom: -126px;
    right: -512px;
    width: 400px;
    height: 40px;
    background-color: #999;
    background: linear-gradient(to bottom,
            #fff 0%,
            #fff 33%,
            #ddd 34%,
            #ddd 66%,
            #bbb 67%);
    border-radius: 26% 30% 30% 0;
    transform: rotate(33deg) translateX(50%);
}

.right-wing__overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to left,
            #00000028,
            #00000095);
    border-radius: 26% 30% 30% 0;
}

.right-wing__stripe-one {
    position: absolute;
    top: 0;
    right: 60px;
    height: 20px;
    width: 80px;
    transform: skew(45deg, 0deg);
    background-color: #851a12d2;
}

.right-wing__stripe-two {
    position: absolute;
    top: 20px;
    right: 60px;
    height: 20px;
    width: 80px;
    transform: skew(-45deg, 0deg);
    background-color: #6a1812d2;
}

.gun-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gun {
 display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background: linear-gradient(to bottom,
            #bbb,
            #999,
            #666); 
}

.gun-one {
    top: 116px;
    left: -316px;  
}

.gun-two {
    top: 116px;
    right: -316px;  
}

.gun__barrel {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: radial-gradient(circle,
            #000 5px,
            #111 6px,
            #222 7px,
            #777 8px,
            #666 11px,
            #222 12px,
            #666 13px,
            #555 16px,
            #222 17px,
            #555 18px,
            #444 21px,
            #222 22px,
            #666 23px,
            #444 26px,
            #000 30px);
}

/*----------------------------------------------
    Story
----------------------------------------------*/

.story {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 60vw;
    max-width: 500px;
    min-width: 200px;
    padding: 40px;
    gap: 20px;
    border-radius: 30px 0 0 30px;
    height: fit-content;
    z-index: 10000;
    background: linear-gradient(to right, #fff, #fff, transparent);
    
    box-sizing: border-box;
    text-wrap: balance;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #555;
    text-transform: uppercase;
    border: 1px solid #777;
    cursor: pointer;
    color: #333;
    background: radial-gradient(circle, #c9c9ac 0%,  #f5f5e4 100%);
    background: linear-gradient(to bottom, #fff ,  #d3d3d3) ;
    height: 70px;
    width: 70px;
    font-size: 2rem;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    box-shadow:
      inset 0px 0px 0px 1px  #fff,
      inset 1px 1px 0px transparent,
      0px 3px 1px #00000070;
  }

  .btn:not(.disabled-btn):hover {
    color: #222;
    background: radial-gradient(circle, black 0%, rgb(43, 42, 42) 100%);
    background: radial-gradient(circle, #babaa3 0%,  #e6e6c8 100%);
    background: linear-gradient(to bottom, #fff ,  #bdbdbd) ;
  }
  
  .btn:not(.disabled-btn):active {
    /* transform: scale(.98); */
    font-size: 1.9rem;
    color: #111;
    background: radial-gradient(circle,  black 0%, rgb(43, 42, 42) 100%);
    background: radial-gradient(circle, #92927b 0%,  #d4d4b5 100%);
    background: linear-gradient(to bottom, #fff ,  #a3a3a3) ;
    box-shadow:
        inset 0 0 4px #e2e2c4,
        inset 1px 1px 1px transparent,
        inset -1px -1px 1px transparent,
        2px 2px 4px transparent;
  }
  
  .disabled-btn {
    transform: scale(.98);
    color: rgb(119, 117, 117);
    background: radial-gradient(circle,  black 0%, rgb(43, 42, 42) 100%);
    box-shadow:
        inset 0 0 4px rgb(50, 49, 49),
        inset 1px 1px 1px transparent,
        inset -1px -1px 1px transparent,
        2px 2px 4px transparent;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .story__part-one--btn {
    width: 11vw;
    height: 11vw;
    min-width: 70px;
    min-height: 70px;
    color: #444;
    font-size: 1rem;
    background: transparent;
    position: relative;
    z-index: 10000;
    box-shadow:
      inset 0px 0px 0px 1px  transparent,
      inset 1px 1px 0px transparent,
      0px 3px 1px #00000070;
      animation: fadeIn 7s ease-out;
  }

    .btn.story__part-one--btn:hover {
        color: #444;
        background: #0000000a;
        box-shadow:
        inset 0px 0px 0px 1px  transparent,
        inset 1px 1px 0px transparent,
        0px 3px 1px #00000070;
    }

    .btn.story__part-one--btn:active {
        font-size: .95rem;
        color: #444;
        background: #00000010;
        box-shadow:
        inset 0px 0px 0px 1px  transparent,
        inset 1px 1px 0px transparent,
        0px 0px 1px #00000070;
    }

    .story__part-four {
        position: relative;
        top: 0;
        left: 0;
    }