body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  max-height: 100vh;
}

.wrapper {
  min-width: 320px;
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
a {
  text-decoration: none;
  color: inherit;
}

.name-container {
  position: absolute;
  display: flex;
  align-items: center;
  /* margin-left: 4vw;
  top: 4vw; */
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.screens-container {
  display: flex;
  transition: transform 1.5s ease-in-out;
}

.screen {
  width: 100vw;
  height: 95vh;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border: 2px solid transparent;
  border-radius: 50%;
  /* background-color: rgb(40, 40, 40); */
  /* box-shadow: 1px 1px 1px rgba(14, 13, 13, 0.6); */
  background-color: transparent;
  width: 7em;
  height: 7em;
  position: absolute;
  top: 60%;
  z-index: 4;
}

.next-button-inside, .previous-button-inside {
  color: rgb(215, 215, 215);
  /* background-color: rgb(65, 64, 64); */
  background: radial-gradient(circle, black 0%,  rgba(65, 64, 64, 1) 100%);

  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-size: 80px 80px;
  
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
  transition-property: transform, background-color, box-shadow;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.25, .5, .5, 1);
}

.previous-button {
  right: 70vw;
}

button:last-child {
  left: 70vw;
}

.next-button-inside {
  box-shadow:
    inset 1px 1px 1px 0.5px  rgb(97, 97, 97),
    inset 1px 1px 0px black,
    4px 2px 0px black;
}

.previous-button-inside {
  box-shadow:
  inset -1px 1px 1px 0.5px rgb(97, 97, 97), 
    inset -1px 1px 0px black,
    -4px 2px 0px black;
}

.previous-button-inside:hover , .next-button-inside:hover {
  color: rgb(191, 190, 190);
  background: radial-gradient(circle, black 0%, rgb(43, 42, 42) 100%);
}

.previous-button-inside:active, .next-button-inside:active {
  transform: scale(.98);
  color: rgb(119, 117, 117);
  background: radial-gradient(circle,  black 0%, rgb(43, 42, 42) 100%);
  box-shadow:
      inset 0 0 4px rgb(50, 49, 49),
      inset 1px 1px 1px transparent,
      inset -1px -1px 1px transparent,
      2px 2px 4px transparent;
}

.screen:nth-child(2) {
  background: linear-gradient(
          to bottom,
          white,
          rgb(218, 138, 150)
        );
}

.screen:nth-child(3) {
  background-color: #ffff007b;
}

.screen:nth-child(4) {
  background-color: #00ff007b;
}

.screen:nth-child(5) {
  background-color: #0000ff7b;
}

.screen:nth-child(6) {
  background-color: #ff00ff7b;
}

.screen.active {
  transform: translateX(-100%);
  /* changed from zero */
}



.black-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    transparent 0%,
    transparent 25%,
    rgb(40, 40, 40) 26%,
    black 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.divider {
  font-size: x-large;
  font-weight: 400;
}

.position-title {
  text-transform: lowercase;
  font-weight: 400;

}

h3 {
  position: relative;
  text-transform: uppercase;
  z-index: 5;
  font-weight: 800;
}

.meeboard {
  width: 20vw;
  height: auto;
  border-radius: 4px;
}

.titles-container {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 3%;
  transition: transform 1.4s ease-in-out;
  z-index: 5;
  
}

.title {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  text-align: center;
  transform: translateX(-50%);
  left: 50%;
  font-size: 20px;
  text-transform: lowercase;  
}

.tech-stack {
  font-size: 15px;
  margin-bottom: 5px;
}

.project-title-1, .project-title-2, .project-title-3, .project-title-4, .project-title-5, .project-title-6 {
  cursor: pointer;
  margin-bottom: 5px;  
}

.project-title-1:hover, .project-title-2:hover, .project-title-3:hover, .project-title-4:hover, .project-title-5:hover, .project-title-6:hover {
  opacity: 0.5;; 
}

.project-title-1 {
  color: white;
}

.project-title-2 {
  color: rgba(222, 166, 174, 1);
}

.project-description{
  font-size: 15px;
  width: 90vw;
  max-width: 500px;
  margin-bottom: 5px;
  text-wrap: balance; 
}
